Repository alexhaydock/pinewall: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, shellcheck, yamllint

ansible-lint:
  name: ansible-lint
  entry: ansible-lint
  language: system
  args:
  - .

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system

yamllint:
  name: yamllint
  entry: yamllint
  language: system
  args:
  - .

Fix multiline wrapping in pipelines
  .github/workflows/pinewall-build.yml
  .gitlab-ci.yml
Due: ansible-lint, yamllint

Typo in SBOM command
  build_steps.yml
Due: ansible-lint, yamllint

Schedule GitHub Actions run
  .github/workflows/pinewall-build.yml
Due: ansible-lint, yamllint

Fix nested Podman GH Action
  .github/workflows/pinewall-build.yml
Due: ansible-lint, yamllint

Update rules to avoid limiting pings
  filesystem/static/root/etc/nftables.d/rules.nft
Due: none

Fix ulogd config
  filesystem/static/root/etc/ulogd.conf
Due: none

Add custom Secure Boot signing chain & EFI VARS store
  README.md
  build.yml
  build_steps.yml
  keys/db-cert.pem
  keys/db-priv.pem
  keys/pk-cert.pem
  keys/pk-priv.key
  keys/tpm2-pcr-initrd-cert.pem
  keys/tpm2-pcr-initrd-priv.pem
Due: ansible-lint, yamllint

Ignore risky-file-permissions rule in Ansible Lint
  .ansible-lint-ignore
Due: none

docs
  README.md
Due: none

Add tempdir for OCI build
  build_steps.yml
  filesystem/static/root/etc/profile.d/motd.sh
  filesystem/static/root/etc/profile.d/timezone.sh
  postinstall/setup.sh
Due: ansible-lint, shellcheck, yamllint

Enable kernel PSI metrics
  build_steps.yml
Due: ansible-lint, yamllint

Move image build recipe into submodule
  .gitmodules
  LICENSE
  image/images/.gitignore
  image/pinewall-accounts.yaml
  image/pinewall-packages.yaml
  image/pinewall-services.yaml
  image/pinewall.yaml
  justfile
Due: ansible-lint, yamllint

Disable bird service by default
  config/vendor/etc/init.d/bird.down
  justfile
Due: none

Mask bird service correctly
  config/vendor/etc/init.d/bird.down
  config/vendor/etc/init.d/enforceperms
Due: none

Fix masking script and image deployment pipeline
  config/vendor/etc/init.d/enforceperms
  justfile
Due: none

Declare pinewall-config replaces bird in case we ship a bird config in it
  config/pinewall-config.yaml
Due: ansible-lint, yamllint

Switch to linux-lts to enable PPPoE support
  justfile
Due: none

Slim down build process by using undocumented build-cpio in apko
  README.md
  justfile
Due: none

Update Pinehole
  config/vendor/etc/init.d/enforceperms
  config/vendor/etc/periodic/daily/pinehole
Due: none

Use git short commit hash as build version
  flake.nix
  justfile
Due: none

Update Flake
  flake.lock
Due: none

Use my downstream apko fork with locking support
  flake.nix
Due: none

Add locking support to buildscript
  .gitignore
  README.md
  justfile
Due: none

Include lockfile in repo
  .gitignore
  apko.lock
Due: none

Add determinism to config package build
  apko.lock
  config/pinewall-config.yaml
Due: ansible-lint, yamllint

Improve determinism for config package build
  apko.lock
  justfile
Due: none

Update lockfile and git checking methodology
  apko.lock
  justfile
Due: none

docs: Update README.md
  README.md
Due: none

Deprecate local git repo check and add zstd compression to initramfs
  justfile
Due: none

Update Nix devenv flake
  flake.lock
Due: none

Update Pinewall image lockfile
  apko.lock
Due: none

Update libexpat & kernel
  apko.lock
Due: none

Update lockfile
  apko.lock
Due: none

Path conditions:
  ansible-lint: any of: \.(yaml|yml)$
  shellcheck: any of: ^.*\.sh$
  yamllint: any of: \.(yaml|yml)$
